/* Google Web Font */
@font-face {
  font-family: 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'SuseongDotum', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.6em;
    height: 150vh;
    display: flex;
    justify-content: center;
}

td,th{text-align: center; height: 65px; border: solid 1px;}
th{ width: 15%; background: gray; color: white;}
td{ width: 15%;}
table {
    border-collapse: separate;
    border-spacing: 0px;
}
td:nth-child(1) {width:5%}
th:nth-child(1) {width:5%}
td:nth-child(2) {width:15%}
th:nth-child(2) {width:15%}
td:nth-child(6) {width:8%}
th:nth-child(6) {width:8%}

form {
	width: 500px;
}
table {
	border-collapse:collapse;
	margin-bottom: 10px;
}
th, td {
	padding: 3px 10px;
}
.off-screen {
	display: none;
}
#nav {
	text-align: center;
}
#nav a {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	font-family:Tahoma;
	background: #ccc;
	color: #000;
	text-decoration: none;
}
#nav a.active {
	background: #333;
	color: #fff;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}

button {
  --button-hover-bg-color: #218838;
}

.menu {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.menu button {
  margin-right: 5px;
  box-shadow: 3px 4px 5px;
  border: solid 1px;
}