<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracle Table example</title>
    <link rel="stylesheet" href="admin.css">

</head>
<body>
    <table class="member" id="member">
        <caption>DB 수집 정보</caption>
        <tr>
            <th>번호</th>
            <th>전화번호(IP)</th>
            <th>차종</th>
            <th>구매방식</th>
            <th>이름</th>
            <th>날짜</th>
        </tr>
    </table>
</body>
<script type="module" src="admin.js"></script>
</html>