/* Google Web Font */
@font-face {
  font-family: 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'SuseongDotum', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.6em;
    height: 150vh;
    display: flex;
    justify-content: center;
}

td,th{text-align: center; height: 65px; border: solid 1px;}
th{ width: 15%; background: gray;}
td{ width: 15%;}
table {
    border-collapse: separate;
    border-spacing: 0px;
}
td:nth-child(1) {width:5%}
th:nth-child(1) {width:5%}
td:nth-child(2) {width:15%}
th:nth-child(2) {width:15%}
td:nth-child(6) {width:8%}
th:nth-child(6) {width:8%}

form {
	width: 500px;
}
table {
	border-collapse:collapse;
	margin-bottom: 10px;
}
th, td {
	padding: 3px 10px;
}
.off-screen {
	display: none;
}
#nav {
	text-align: center;
}
#nav a {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	font-family:Tahoma;
	background: #ccc;
	color: #000;
	text-decoration: none;
}
#nav a.active {
	background: #333;
	color: #fff;
}