<html lang="ko"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <title>Bb 장기렌트카</title>
  <link rel="stylesheet" href="cha.css">
  <body>
  
  
  <div id="wrap">
  
    <div class="hd">
      <div class="area" style="">
        <div class="sop">
          <div class="logo">
            <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/logo.png">
          </div>
        </div>
      </div>
    </div><!-- END hd -->
    
    <div class="visual">
      <div class="area" style="margin-left: -10%">
        <div class="title">
          <img src="../../imgs/1.png">
        </div>
        <div class="box">
          <div class="sop">
            <ul>
              <li><p>성함</p></li>
              <li><input type="text" id="wr_name1" name="wr_name1" class="ipfull" placeholder="이름을 입력하세요"></li>
              <li><p>연락처</p></li>
              <li><input type="text" id="wr_phon1" name="wr_phon1" class="ipfull" placeholder="'-'를 제외한 숫자만 입력하세요."></li>
            </ul>
          </div>
          <div class="sop">
            <ul>
              <li><p>차종</p></li>
              <li><input type="text" id="wr_car1" name="wr_car1" class="ipfull" placeholder="차종을 입력하세요"></li>
              <li><p>선택</p></li>
              <li>
                <dl>
                  <dt><input type="radio" id="wr_select1" name="wr_select1" value="렌트" checked=""> <span>렌트</span></dt>
                  <dt><input type="radio" id="wr_select1" name="wr_select1" value="리스"> <span>리스</span></dt>
                </dl>
              </li>
            </ul>
          </div>
          <div class="agrees">
            <input type="checkbox" id="agree1" name="agree1" checked=""> <span>개인정보 수집·이용 및 취급·위탁에 대한 동의</span><br class="mrs">
            <input type="checkbox" id="agree2" name="agree2" checked=""> <span>마케팅 정보 수신에 대한 동의</span>
          </div>
          <div class="btns">
            <button class="bg1" id="up">최저가 견적 알아보기</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  
    <div class="roll bg1">
      <div class="area">	
        <div class="step1">
          <h1>실시간 견적요청</h1>
          <!--<h1>현재 <span>2,503</span>명 신청중</h1>-->
          <p>직접 이용하신 고객님들의 실시간 접수현황입니다.</p>
        </div>
        <div class="step2">
          <div class="page" style="
      border-radius: 10px;
  ">    
          <ul class="ticker_01" id="tick"></ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mct_01">
      <div class="imgs">
        <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/object2.png">
      </div>
      <div class="object">
        <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/object1.png">
      </div>
    </div>
  
    <div class="mct_02">
      <div class="title">
        <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/title2.png">
      </div>
      <div class="box">
        <ul>
          <li><img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/box1.png"></li>
          <li><img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/box2.png"></li>
          <li><img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/box3.png"></li>
        </ul>
      </div>
    </div>
  
    <div class="mct_03">
      <div class="title">
        <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/title3.png">
      </div>
      <div class="box">
        <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/object3.png">
      </div>
    </div>
  
  
    <div class="mct_04">
      <div class="title">
        <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/title4.png">
      </div>
      <div class="box">
        <ul>
          <li><img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/step1.png"></li>
          <li><img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/step2.png"></li>
          <li><img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/step3.png"></li>
          <li><img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/step4.png"></li>
        </ul>
      </div>
    </div>
  
  
  
  
        <form enctype="multipart/form-data" id="form3" name="form3" method="post" onsubmit="return form_Check3();" action="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/form_send.php">
        <input type="hidden" name="mode" value="send">
        <input type="hidden" name="email" value="krmbsc@naver.com">
        <input type="hidden" name="wr_subject" value="유앤아이 장기 렌트카 최저가 견적 신청">
  
        <div class="mct_05">
          <div class="area">
          <div class="title">
            <img src="http://xn--ok0b00q93kwd95gqo7k087b1kj.kr/theme/basic/img/new/title5.png">
          </div>
          <div class="sop">
            <ul>
              <li><p>성함</p></li>
              <li><input type="text" id="wr_name" name="wr_name" class="ipfull" placeholder="이름을 입력하세요" style="
      border-radius: 10px;
  "></li>
              <li><p>연락처</p></li>
              <li><input type="text" id="wr_1" name="wr_1" class="ipfull" placeholder="'-'를 제외한 숫자만 입력하세요." style="
      border-radius: 10px;
  "></li>
            </ul>
          </div>
          <div class="sop">
            <ul>
              <li><p>차종</p></li>
              <li><input type="text" id="wr_2" name="wr_2" class="ipfull" placeholder="차종을 입력하세요" style="
      border-radius: 10px;
  "></li>
              <li><p>선택</p></li>
              <li>
                <dl>
                  <dt><input type="radio" id="wr_3" name="wr_3" value="렌트" checked=""> <span>렌트</span></dt>
                  <dt><input type="radio" id="wr_3" name="wr_3" value="리스"> <span>리스</span></dt>
                </dl>
              </li>
            </ul>
          </div>
          <div class="agrees">
            <input type="checkbox" id="agree" name="agree" checked=""> <span>개인정보 수집·이용 및 취급·위탁에 대한 동의</span><br class="mrs">
            <input type="checkbox" id="agree2" name="agree2" checked=""> <span>마케팅 정보 수신에 대한 동의</span>
          </div>
          <div class="btns">
            <button class="bg1">빠른 무료 상담 받기</button>
          </div>
        </div>
        </div>
        </form>
      </div>
    <div class="ft">
      <div class="area">
        
        <div class="type2">
          <!--
          <div class="title">
            <h1>유앤아이 장기렌트카</h1>
          </div>
          -->
          <div class="txt">
            <p>사업자명 : 유앤아이 | 대표이사 : 이정민</p>
            <p>직통전화 : 010-5877-5225 | 사업자등록번호 : 806-14-01608</p>
            <p>이메일 : krmbsc@naver.com</p>
            <p>소재지 :  인천광역시 계양구 경명대로 1058, 302호</p><br>
            <p>COPYRIGHT (C) 유앤아이. All Rights reserved</p>
          </div>
  
        </div>
      </div>
    </div>
    <script type="module" src="cha.js"></script>
   <!-- END wrap -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
  <!--[if lte IE 7]>
  <script>
  $(function() {
      var $sv_use = $(".sv_use");
      var count = $sv_use.length;
  
      $sv_use.each(function() {
          $(this).css("z-index", count);
          $(this).css("position", "relative");
          count = count - 1;
      });
  });
  </script>
  <![endif]-->
  
  
  
  
  </body></html>